.label {
    -fx-text-fill: #494D5F;
}
.activeTime {
    -fx-text-fill: #8458B3;
}
.polygon {
    -fx-fill: #8458B3;
}
.polygon:hover {
    -fx-fill: #592693;
}
.record{
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-background-color: #8458B3;
    -fx-text-fill: #E5EAF5;
    -fx-background-radius: 15px;
}
.record:hover{
    -fx-background-color: #592693;
}
.record:pressed {
    -fx-background-radius: 25px;
    -fx-background-color: #7632c2;
}
.table-view .column-header{
    -fx-background-color: #E5EAF5;
    -fx-padding: 12px 0 12px 0;
    -fx-font-size: 18px;
}
.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 12px 0 12px 0;
    -fx-alignment: center;
    -fx-font-size: 18px;
}
.table-row-cell:hover {
    -fx-background-color: #E5EAF5;
    -fx-text-background-color: #8458B3;
}
.table-row-cell:even,
.list-cell:even {
    -fx-background-color: #dae2f3;
    -fx-background-insets: 0, 0 0 1 0;
}
.table-row-cell:odd,
.list-cell:odd {
    -fx-background-color: #E5EAF5;
    -fx-background-insets: 0, 0 0 1 0;
}
.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  #8458B3;
}
.list-cell {
    -fx-font-size: 16px;
    -fx-padding: 5px;
}
.list-cell:hover {
    -fx-background-color: #854bcb;
    -fx-font-weight: bold;
}